* {
  border: 0;
  font: inherit;
  font-size: 100%;
  font-weight: normal;
  list-style: none;
  margin: 0;
  padding: 0;
  outline: 0;
  text-align: inherit;
  vertical-align: baseline;
  @include box-sizing(border-box);
}

